<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/png">
</head>
<body>
    <h1 id="title">Weather in {{ city }}</h1>

    <div class="info_box">
        <div class="weather_content">
            <div class="weather_details">
                <p><strong>Temperature:</strong> {{ temp }}°F</p>
                <p><strong>Weather:</strong> {{ weather }}</p>
                <p><strong>Description:</strong> {{ condition }}</p>
                <p><strong>Humidity:</strong> {{ humidity }}%</p>
                <p><strong>Wind Speed:</strong> {{ wind_speed }} mph</p>
                <p><strong>Feels Like:</strong> {{ feels_like }}°F</p>
            </div>
            <img src="{{ icon }}" alt="Weather Icon" id="image">
        </div>

        <div class="forecast_container">
            {% for day in forecast %}
                <div class="forecast_box">
                    <img src="{{ day.icon }}" alt="Icon">
                    <p>{{ day.condition }}</p>
                    <p>{{ day.temp }}°F</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
